@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --colors-common-black: #101116;
  --colors-common-zinc-50: #fafafa;
  --colors-common-zinc-300: #d4d4d8;
  --colors-common-zinc-500: #71717a;
  --colors-common-zinc-600: #52525b;
  --colors-common-zinc-700: #3f3f46;
  --colors-common-zinc-800: #27272a;
  --colors-common-zinc-900: #18181b;
  --colors-common-red-500: #ff1923;
  --colors-common-white: #fff;
  --colors-layout-overlay: #0000004d;
  --colors-content-content1-foreground: #fafafa;
  --colors-content-content2-foreground: #f4f4f5;
  --colors-content-content1: #18181b;
  --colors-base-default: #3f3f46;
  --colors-base-default-100: #27272a;
  --colors-base-default-500: #a1a1aa;
  --colors-base-primary: #006fee;
  /* others */
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  background-color: var(--colors-common-black);
  /* padding: 0 7.8em; */
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  background: var(--colors-common-red-500) !important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  background: var(--colors-common-white) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  background: var(--colors-common-white) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  background: var(--colors-common-white) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  background: var(--colors-common-white) !important;
  opacity: 1 !important;
}

/* .swiper-pagination {
  position: fixed !important;
  bottom: 15% !important;
} */

.swiper-pagination-bullet {
  background: var(--colors-common-white) !important;
}
.swiper-pagination-bullet-active {
  background: var(--colors-common-red-500) !important;
}
::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--colors-common-red-500);
  border-radius: 0.2em;
  transition: all 2s ease-in-out;
}
